<footer class="footer">
  <small>
    <%= t("footer_message_html", href1: link_to(t("link1"), "#"),
      href2: link_to(t("link2"),"#")) %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("news"), "#" %></li>
    </ul>
  </nav>
</footer>
